.Rproj.user
.Rhistory
.RData
.Ruserdata

binary.plutype.assoc.txt
binary.plutype.withmales.assoc.txt
4mangofems.withindels.weir.fst
allfst.mangofems.weir.fst
analysis.Rdata
bigz.mangofems.weir.fst
BNC2.withindels.5fems.recode.vcf
BNC2.withindels.allinds.recode.vcf
BNC2.withindels.femalesonly.recode.vcf
BNC2.withindels.lessfiltered.recode.012
BNC2.withindels.mangofems.recode.vcf
C2H8orf34.allinds.012
C2H8orf34.allinds.012.indv
C2H8orf34allinds012.csv
females.BNC2buffered.NOindels.1kwindow.windowed.pi
females.BNC2buffered.NOindels.10kwindow.windowed.pi
females.BNC2buffered.NOindels.10kwindow.windowed.pi
BNC2.allinds.012